<div class="l-wrap u-text-center u-mw-600 u-mx-auto">
  <h1 class="u-mt-0 u-mb-24">Welcome</h1>
  <p class="u-mb-0">This is a starter theme to start any Shopify theme development</p>
</div>

{% style %}
  .c-welcome-section {
    flex: 1;
    display: flex;
    align-items: center;
  }
{% endstyle %}

{% schema %}
  {
    "name": "Welcome",
    "tag": "section",
    "class": "c-welcome-section",
    "settings": []
  }
{% endschema %}
